<% provide(:title, "Help") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Signing up</h3>
  </div>
  <div class="panel-body">
    To sign up for an account, go to <%= link_to "the signup page", signup_path %>
  </div>
</div>

