<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1>Welcome to MBU Online </br><small>Hosted by Alpha Phi Omega</small></h1>
</div>

<h3>
  This is our new system for handling scout registration for Merit Badge University.
</h3>

</br>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>

