<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1>Welcome to MBU Online</h1>

  <h2>
    This is where you can sign up and manage your scouts for Merit Badge University
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
