<% if @user.errors.any? %>
  <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
  </div>
  <p class="alert alert-danger">
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %></li></br>
    <% end %>
  </p>
<% end %>