<% scout = Scout.find_by(id: params[:id]) %>
<% if !scout.nil? && !scout.preferred_courses.empty? %>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Description</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      
      <tbody>
        <%= hidden_field_tag :scout_id, scout.id %>
        <% scout.preferred_courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, course %></td>
            <td><%= course.description %></td>
            <td><%= link_to 'Delete', scout.preferences.find_by(course_id: course.id), method: :delete, data: { confirm: 'Are you sure? You cannot undo this action'} %></td>
          </tr> 
        <% end %>  
      </tbody>
    
    </table>
  </div>
<% end %>