<div class="table-responsive">
  <table class="table table-hover table-striped">
    
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    
    <tbody>
      <% scout = Scout.find_by(id: params[:id]) %>
      <%= hidden_field_tag :scout_id, scout.id %>
      <% scout.preferred_courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.description %></td>
          <td><%= link_to 'Delete', scout.preferences.find_by(course_id: course.id), method: :delete, data: { confirm: 'Are you sure?'} %></td>
        </tr> 
      <% end %>  
    </tbody>
  
  </table>
</div>