<div class="table-responsive">
  <table class="table table-hover table-striped">
    
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    
    <tbody>
      <% current_user.scouts.each do |scout| %>
        <tr>
          <td><%= scout.firstname %></td>
          <td><%= scout.lastname %></td>
          <td><%= link_to 'Edit', edit_scout_path(scout) %></td>
          <td><%= link_to 'Delete', scout, method: :delete, data: { confirm: 'Are you sure?'} %></td>
        </tr> 
      <% end %>  
    </tbody>
  
  </table>
</div>