<div class="container">
  <%= form_for(@preference) do |f| %>    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Editing Priority</h3>
      </div>
      <div class="panel-body">
        <div class="form-group col-md-6 col-md-offset-3">
          <%= f.label :priority, "Priority of #{@course.name} for 
              #{@scout.firstname}, between 1 and 6" %>
          <%= f.number_field :priority, class: "form-control", in: 1..6, step: 1 %>
        </div>
      </div>
    </div>

    <div class="actions col-md-6 col-md-offset-3">
      <%= f.submit "Save changes", class: "btn btn-med btn-default center-block btn-block" %>
    </div>
  <% end %>
</div>