<header class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <div class="container">
      <div class="navbar-brand logo"><%= link_to "MBU Online", root_path, id: "MBU" %></div>
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>