<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <div class="container">
      <div class="navbar-brand"><%= link_to "MBU Online", '#', id: "logo" %></div>
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>